<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista</ion-title>
    <ion-buttons slot="end">
      <ion-button type="button" color="secondary" [href]="'detail-form'" expand="block">Cadastrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item-sliding *ngFor="let form of forms">
      <ion-item (click)="selectItem(form)">
        {{form.name}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(form)" class="delete-slide"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-content>
